# Meine Python Einführung

**fett** schreiben

*kursiv* schreiben

In [4]:
# Erste Anweisung
print("Hello World!") #Zwischen den "" ist ein String

Hello World!

 ## Datentypen

In [11]:
# Variable definieren, muss verbunden sein also ggf. _
name = "Lovelace"

In [7]:
print (name)

Lovelace

In [8]:
name

'Lovelace'

In [30]:
first_name = "Ada" 
# durch die Gänsefüsschen ist es ein String, das gilt dann auch für eine Zahl

In [12]:
# Integer  -  Ganzzahlen
age = 73
print (age)

73

In [14]:
#Float - Gleitkommazahlen, PUnkt verwenden!
size = 1.1734
print (size)

1.1734

In [16]:
# Boolscher Wert, true oder false  - Boolsche Operatoren gibt es auch noch
knows_math = True
print (knows_math)

True

In [17]:
print (knows_math)
print (name)

True
Lovelace

In [18]:
print (first_name, name)

Ada Lovelace

In [21]:
# datentyp erfragen, bestimmt Python selbst
type (age)

int

## Operatoren

In [22]:
# Rechnungen machbar
5 + 5

10

In [23]:
age * 100 # Multiplikation

7300

In [27]:
name + first_name # Ketten variablen aneinander, "concatenate"

'LovelaceAda'

In [25]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [26]:
100 / 10 #Teilen

10.0

In [28]:
name + " 10"

'Lovelace 10'

In [31]:
numbers = "50" #Zahl als String

In [32]:
int(numbers) / 10 #wandle durch den Befehl den String in eine Zahl um

5.0

## Funktionen und Methoden

In [33]:
len(name) #gibt die Länge einer Variablen wieder

8

In [35]:
name.upper() #variable groß schreiben - oder kleinschreibung mit Lower

'LOVELACE'

In [36]:
name.count("e") #zählt bestimmtes Zeichen

2

In [37]:
name.count("")

9

In [39]:
name.lower().count("l") #da ein L groß ist, erst klein, dann zählen - klappt

2

In [40]:
name.replace("lace"," is everywhere") #erst was ersetzen, dann durch was

'Love is everywhere'

In [41]:
str(age).replace("73", "37") #hier, weil es eine Zahl war, musste es erst zu "string"

'37'

In [42]:
int(str(age).replace("73", "37")) #macht wieder Zahl daraus

37

## Listen und Dictionaries

In [44]:
# Liste legt mehrere Werte in eine Variable
names = ["Lovelace" , "Darwin" , "Curie" , "Hawking"]

In [46]:
names[1] #Zählung der Liste fängt mit 0 an, ist bei vielen Programmiersprachen üblich

'Darwin'

In [47]:
names[0]

'Lovelace'

In [48]:
names[-1] #wählt letztes Element der Liste aus

'Hawking'

In [51]:
names[0:3] #Bereich definiert für die Elemente, allerdings wird der letzte NICHT inkludiert

['Lovelace', 'Darwin', 'Curie']

In [55]:
names[:2] # bis 2 = 0 und 1

['Lovelace', 'Darwin']

In [56]:
names[2:] #alles ab 2

['Curie', 'Hawking']

In [60]:
authors_and_birth_year = {"Lovelace" : 1882, 
                          "Darwin" : 1809, 
                          "Noether": 1882, 
                          "Hawking" : 1942} 
#dictionary immer in geschweifter klammer, fehlender Wert durch Platzhalter "" oder None

In [61]:
authors_and_birth_year["Lovelace"]

1882

In [65]:
print(authors_and_birth_year)

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882, 'Hawking': 1942}

In [66]:
authors_and_birth_year

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882, 'Hawking': 1942}

In [67]:
%who #frage ans jupyter notebook

age	 authors_and_birth_year	 first_name	 knows_math	 name	 names	 numbers	 size

## For-Schleifen

In [68]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [69]:
for person in names:
    print(person + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [70]:
person

'Hawking'

In [73]:
for käse in authors_and_birth_year:
    print(käse + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Noether did awesome stuff
Hawking did awesome stuff

## Conditionals

In [74]:
temp = 20

In [75]:
if temp > 15:
    print("Es ist warm")

Es ist warm

In [76]:
temp > 15

True

In [77]:
if temp > 15:
    print("Es ist warm")
    
else:
    print("Es ist kalt")

Es ist warm

In [81]:
temp = 14
if temp > 25:
    print("Es ist heiß")
elif temp >= 15:                          #elif ist else if
    print("Es ist okay")
else:
    print("Es ist kalt")

Es ist kalt

Die Positionierung der Einträge ist Teil der Sprache. Es wird lesbarer. Einrückungen sind fundamental, sonst klappt skript nicht.